body, ol, ul, dl, li, dt, dd, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea,select{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../images/message.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    background-attachment: fixed;
}
.nav-div{
    background: #3d97cb;
    width: 70%;
    margin: 100px auto 0px;
    height: 40px;
    color: white;
}
.nav-div ul li{
    list-style: none;
    float: left;
    font-size: 18px;
    margin: 0px 10px;
    line-height: 40px;
    padding-left: 20px;
}
.nav-div ul li a{
    color: white;
    text-decoration: none;
}
.nav-div ul li a:hover{
    text-decoration: underline;
    color: red;
}
.main{
    background: #f7fbfd;
    width: 70%;
    margin: 0 auto;
    padding-top: 20px;
}
.main h3 button:hover{
    background: #2c3e50;
    color: white;
}
.main h3{
    height: 30px;
    line-height: 30px;
    margin: 10px;
    background: #bdc3c7;
    padding: 2px 10px;
    display: block;
}
.main h3 button{
    float: right;
    height: 24px;
    margin-top: 3px;
}
.no-read ul li,.read ul li,.participate ul li{
    width: 90%;
    margin: 0 auto;
    list-style: none;
    padding: 5px 20px 5px;
}
.no-read ul li span,.read ul li span,.participate ul li span{
    margin-right: 20px;
}
.no-read ul li span{
    color: red;
}
.no-read ul li a,.read ul li a,.participate ul li a{
    margin: 0px 2px;
    color: #2c3e50;
    text-decoration: none;
}
.no-read ul li a:hover,.read ul li a:hover,.participate ul li a:hover{
    color: red;
    text-decoration: underline;
}
.read ul{
    padding-bottom: 30px;
}
#path{
    display: none;
}
#current{
    color: #fa8231;
}